<ion-content>
  <form (ngSubmit)="login()" [formGroup]="uyelikBilgisi">
    <div class="input-group">
      <ion-item>
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      </ion-item>

      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">Eposta Gereklidir</span>
        <span *ngIf="email.errors?.email">Geçersiz Eposta Adresi</span>
      </div>

      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>

      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Parola Gereklidir</span>
        <span *ngIf="password.errors?.minlength">Parolanız en az 6 karakter olmalıdır</span>
      </div>

    </div>

    <ion-button type="submit" expand="block" [disabled]="!uyelikBilgisi.valid">Giriş</ion-button>
    <ion-button type="button" expand="block" color="light" fill="clear" [routerLink]="['/signup']">Üye Ol</ion-button>


  </form>
</ion-content>
